RewriteEngine on 

RewriteRule ^inicio$ controllers/MenuPrincipal.php [NC,L]
RewriteRule ^FormularioRecibo$ controllers/FormularioRecibo.php [NC,L]
RewriteRule ^SimRecibo$ controllers/SimRecibo.php [NC,L]
RewriteRule ^Lista-Categorias$ controllers/ListaCategorias.php [NC,L]
RewriteRule ^InicioSesion$ controllers/InicioSesion.php [NC,L]
RewriteRule ^Lista-Comunicados$ controllers/ListaComunicados.php [NC,L]
RewriteRule ^AgregarCategoria$ controllers/AgregarCategoria.php [NC,L]
RewriteRule ^EliminarCategoria$ controllers/EliminarCategoria.php [NC,L]
RewriteRule ^AgregarComunicado$ controllers/AgregarComunicado.php [NC,L]
RewriteRule ^EliminarComunicado$ controllers/EliminarComunicado.php [NC,L]
RewriteRule ^ActualizarSueldo$ controllers/ActualizarSueldo.php [NC,L]
RewriteRule ^BorrarNoRemunerativos$ controllers/EliminarNoRemunerativos.php [NC,L]
RewriteRule ^Historico$ controllers/Historico.php [NC,L]
RewriteRule ^VerHistorico$ controllers/VerHistorico.php [NC,L]

