  /* Estilos para el logotipo */
    * {
      margin: 0;
      padding: 0;
      border: none;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
      -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
      outline: none !important;
      background-repeat: no-repeat;
    }

    a:hover {
        text-decoration: none;
    }

    strong {
        font-weight: 900;
    }

/*Menu */
    #menu{
           display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    }
     ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  li {
    margin-bottom: 20px;
  }

  li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 24px;
  }

  li a:hover {
    background-color: #555;
    color: white;
    }



/* inicio sesion*/

  
    a:first-letter{
            text-transform: uppercase;
    }

    #admin{

         background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      width: 100px;
        border-radius: 12px; /* Radio del borde */
         position: fixed; /* Posición fija */
        bottom: 45px; /* Distancia desde abajo */
        right: -90px; /* Distancia desde la derecha */
        z-index: 1; /* Índice Z para controlar el apilamiento */
    }


    #admin:hover {
        background-color: #45a049; /* Cambio de color de fondo en el hover */
        width: 200px;
        right:20px;
    }

    #iniciar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .login-container {
        width: 400px;
        padding: 40px;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 4px;
    }





    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    #usu , input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    button {
        width: 100%;
        padding: 10px;
        background: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background: #45a049;
    }
/*Comunicados */

    #comunicados-list li.Bingo:hover{
        background-color: #C03F31;
    }
    #comunicados-list li.Loteria:hover{
        background-color: #377c3e;
    }

/* NAV */ 
  
 nav {
    background-color:#373535;
    color: #fff;
    width: 100%;
    transition: bottom 0.3s;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 1000;
  }
  nav.scrolled {
    bottom: 0;
  }
  nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

    nav a:hover {
    background-color: #555;
    color: #fff;
  }
  section {
    padding: 20px;
    margin-bottom: 40px; /* Ajusta el valor del margen inferior para que no se superponga con el contenido */
  }

/*Body*/


    body {
        width: 100%;
        height: 100%;
        background-color: rgb(96, 97, 99);
        font-family: "MuseoSans", sans-serif;
        font-weight: 300;
    }

    div {
        display: block;
    }

    div, input {
        box-sizing: border-box;
    }

    h1 {
      text-align: center;
      color: 2e2d2d;
      text-transform: uppercase;
      font-size: 54px;
      margin-bottom: 20px;
      padding : none;
    }

    label {
      display:  inline-block;
      margin-bottom: 10px;
      cursor: pointer;
      margin-right: 2px;
      margin-left: 3px;
      
    }

    input[type="text"],
    input[type="number"],
    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="date"] {
      /* Estilos personalizados aquí */
      /* Ejemplo de estilos */
      padding: 5px;
      border: 1px solid gray;
      border-radius: 4px;
      font-family: Arial, sans-serif;
    }

    input[type="month"]{
    }

    #ingreso{
      display: none;
    }


    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #formularioRecibo{
      font-size: 120%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #infoRecibo{

        font-size: 120%;
        width: 100%;
        font-family: sans-serif;
    }

    .infoStatic{
        display:inline;
        color: orange;
    }

    #recibo {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
      background-color: #f8f5f5;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    #lista td{
        text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      display:table;
      font-size:20px;
    }

    th{
      font-size: 120%;
      background-color: rgb(177, 211, 255);
      text-align: center;
    }
    td{
      text-align: right;
    }

    th, td {
      padding: 8px;
      border-bottom: 1px solid #ddd; 
      vertical-align: middle;
    }

    td.concepto{
      text-align: left;
      font-size: 110%;
    }

    #neto:hover{
      color:#4caf50;
      font-size: 110%;
      font-weight: bolder;
    }

    .fondo-cuerpo {
        background-color: #FFF;
        margin: 0 auto;
        max-width: 1260px;
    }

    #fechaIngreso {
      /* Add your desired styles here */
      width: 200px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin: 10px;
    }

    section.cuerpo {
        margin: 0 auto;
        font-size: 20px;
    }

    section.cuerpo .cabecera .divisor {
        margin-bottom: 12px;
    }


    section.cuerpo  .cabecera h1 {
        font-size: 40px;
        font-weight: 700;
        color: #c14032;
        margin-bottom: 20px;
    }

    section.cuerpo .cabecera {
        background-color: #f3f2f4;
        padding: 20px 30px;
        margin-bottom: 10px;
    }

    #apartadoLegal{
      color: #155724;
      background-color: #d4edda;
      border-color: 202922 ;
      padding: 0.5rem;
      margin: 1rem;
      border: 2px solid ;
      border-radius: 4px;
    }

/*Barra Admin*/

    #AdminBar{
        width: 100%;
        background-color: #377c3e;
        color: white;
        text-align: center;
        font-size: 150%;
        font-family: Garamond;
        border-bottom: 6px solid rgb(255, 255, 255);
    }

    #AdminBar a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 20px;
        text-decoration: none;
      }

        
    #AdminBar a:hover {
        background-color: #275c2d;
        color: #fff;
      }

      #delete{
        background-color: red;
      }

      #delete:hover{
        background-color: #7d1801;
        color: #fff;
      }

    /*boton borrar no remunerativos*/
    #deleteNoRemun{
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: auto ;
        }

        
            #deleteNoRemun:hover {
            background-color: #d32f2f;
        }

/*header de la pagina inicial ALEARA*/

    .fondo-header {
        background-color: #C03F31;
        width: 100%;
        border-bottom: 6px solid #FFF;
        padding: 40px 0 0 0;
    }

    header {
        width: 95%;
        max-width: 1260px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }

    header .logo .texto {
        display: inline-block;
        vertical-align: top;
        margin: 48px 0px 0px 4px;
        background: url(img/header/logo-texto.png) center center no-repeat;
        width: 356px;
        height: 84px;
    }
    header .juego {
        margin-right: 12px;
        margin-bottom: 20px;
        width: 128px;
        height: 32px;
        float: left;
        background: url(img/header/juego.png) center no-repeat;
    }
    header .logo {
        display: block;
        font-size: 0;
        margin-bottom: 7px;
    }
    header .logo img {
        display: inline-block;
        max-width: 100%;
    }

    header .botones {
        position: absolute;
        right: 0;
        bottom: 23px;
    }
    header .datos {
        margin-bottom: 20px;
        float: right;
        font-size: 12px;
        line-height: 16px;
        color: #FFF;
    }

    /* Buscador del header */
    header .buscador {
        float: left;
        vertical-align: top;
        font-size: 0;
        }

    header .buscador .buscar input[type="text"] {
        display: inline-block;
        width: 190px;
        height: 28px;
        border-right: 1px solid #C03F31;
        background: #fff;
        color: #666;
        padding: 0.25em;
        font-size: 12px;
    }

    header .buscador .buscar input[type="submit"] {
        display: inline-block;
        vertical-align: bottom;
        background: url('img/header/buscar.png') #FFF center no-repeat;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

/**/

    .fondo-header {
        background-color: rgb(192, 63, 49);
        width: 100%;
        border-bottom: 6px solid rgb(255, 255, 255);
        padding: 40px 0px 0px;
    }

    header {
        width: 95%;
        max-width: 1260px;
        margin: 0px auto;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }

    header .logo {
        display: block;
        font-size: 0px;
        margin-bottom: 7px;
    }

    header .logo img {
        display: inline-block;
        max-width: 100%;
    }

    header .logo .texto {
        display: inline-block;
        vertical-align: top;
        margin: 48px 0px 0px 4px;
        background: url("img/header/logo-texto.png") center center no-repeat;
        width: 356px;
        height: 84px;
    }

    header .botones {
        position: absolute;
        right: 0px;
        bottom: 23px;
    }

    header .juego {
        margin-right: 12px;
        margin-bottom: 20px;
        width: 128px;
        height: 32px;
        float: left;
        background: url("img/header/juego.png") center center no-repeat;
    }

    header .datos {
        margin-bottom: 20px;
        float: right;
        font-size: 12px;
        line-height: 16px;
        color: rgb(255, 255, 255);
    }

    header .iconos {
        clear: both;
        overflow: hidden;
        float: left;
    }

    header .iconos .icono {
        float: left;
        width: 28px;
        height: 28px;
        margin-right: 6px;
        position: relative;
    }

    header .iconos .icono:hover {
        top: -2px;
    }

    header .buscador {
        float: left;
        vertical-align: top;
        font-size: 0px;
    }

    header .buscador .buscar input[type="text"] {
        display: inline-block;
        width: 190px;
        height: 28px;
        border-right: 1px solid rgb(192, 63, 49);
        background: rgb(255, 255, 255);
        color: rgb(102, 102, 102);
        padding: 0.25em;
        font-size: 12px;
    }

    header .buscador .buscar input[type="submit"] {
        display: inline-block;
        vertical-align: bottom;
        background: url("img/header/buscar.png") center center no-repeat rgb(255, 255, 255);
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    @media (min-width: 1017px) {
        header {
            padding-left: 60px;
        }
    }

    @media (max-width: 1016px) {
        header .logo .texto {
            display: none;
        }
    }

    @media (max-width: 597px) {
        header .juego, header .datos, header .buscador {
            display: none;
        }
    }

    @media (max-width: 347px) {
        .fondo-header {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        header .botones {
            display: block;
            position: static;
            overflow: hidden;
            margin-left: 7px;
        }
    }

/* Footer de la pagina oficial ALEARA  */

/* */ 

    .fondo-footer {
        margin: auto 0px;
        background-color: rgb(192, 63, 49);
        width: 100%;
    }

    footer {
        max-width: 1260px;
        width: 95%;
        box-sizing: border-box;
        margin: 0px auto;
        padding: 70px 50px 30px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 500;
    }

    footer a {
        color: rgb(255, 255, 255);
    }

    footer h2 {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 900;
    }

    footer p {
        margin-bottom: 16px;
    }

    footer .iconos {
        font-size: 0px;
        margin: 0px auto;
        white-space: nowrap;
    }

    footer .iconos .icono {
        display: inline-block;
        width: 37px;
        height: 37px;
        margin-left: 6px;
        position: relative;
    }

    footer .iconos .icono:nth-child(1) {
        margin-left: 0px;
    }

    footer .iconos .icono:hover {
        top: -2px;
    }

    footer .informacion {
        display: table;
        width: 100%;
    }

    footer .informacion .row {
        display: table-row;
    }

    footer .informacion .col {
        display: table-cell;
        vertical-align: top;
        padding: 0px 20px;
        text-align: left;
    }

    footer .informacion .primera.col span {
        line-height: 1.5em;
    }

    footer .informacion .centro.col {
        border-left: 1px solid rgb(255, 255, 255);
    }

    footer .informacion .centro.col a {
        margin-bottom: 6px;
    }

    footer .informacion .ultima.col {
        width: 166px;
    }

    footer .informacion .telefonos {
        font-size: 1.2em;
        padding-left: 50px;
        background: url("img/footer/telefono.png") 20px top no-repeat;
    }

    footer .informacion .telefonos p {
        line-height: 1.67em;
    }

    footer .informacion a {
        color: rgb(255, 255, 255);
        display: block;
        margin-bottom: 10px;
    }

    footer .informacion span a {
        display: inline;
    }

    footer .informacion .destacado {
        color: rgb(255, 255, 255);
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 900;
    }

    footer .informacion .primera.col .destacado {
        margin: 0px;
    }

    footer .logo {
        display: inline-block;
        vertical-align: top;
        margin-right: 6px;
    }

    footer .info {
        display: inline-block;
        vertical-align: top;
    }

    footer .nota {
        font-size: 0.8em;
        text-align: center;
        padding: 55px 20px 0px;
    }

    @media (max-width: 1297px) {
        footer .informacion .col:nth-child(4) {
            display: none;
        }
    }

    @media (max-width: 1037px) {
        footer .informacion .col:nth-child(3) {
            display: none;
        }
    }

    @media (max-width: 785px) {
        footer {
            padding: 30px 0px;
        }

        footer .informacion .col {
            padding: 0px;
        }

        footer .informacion .primera.col {
            padding-right: 20px;
        }

        footer .informacion .ultima.col {
            padding-top: 20px;
        }

        footer .informacion .col:nth-child(2) {
            display: none;
        }
    }

    @media (max-width: 567px) {
        footer .informacion .col.centro {
            display: none;
        }

        footer .informacion .primera.col {
            padding: 0px;
        }

        footer .informacion {
            display: block;
            text-align: center;
        }

        footer .informacion .row, footer .informacion .col {
            display: inline-block;
            padding: 0px;
        }
    }
